$primary: "blue-grey";
$accent: "deep-orange";

@import 'ember-paper';

@import 'paper-data-table';

.avatar {
	height: 20px;
	width: 20px;
	border-radius: 100%;
	margin: 0 1em;
}

fieldset {
	border-width: 1px;
	border-style: solid;
	margin: 0 0.5em;
	padding: 1em;
	border-radius: 0.5em;

	@media (min-width: 1280px) {
		margin: 0 2em;
	}

	legend {
		font-size: 1.5em;
	}
}

label {
	padding: 0.8em;
	padding-left: 0;
}

a.day-link {
	display: block;
}

ul.match-listing {
	list-style: none;
	margin: 0;
	padding: 0;

	md-list {
		width: 100%;
	}
}

.manage-player {
	md-radio-button {
		display: inline-block;
	}
}

img.match-cover-image {
	width: 100%;
	position: absolute;
	top: -15%;
	left: 0;
	z-index: -1;
}

div.match-details {
	margin-top: 18em;
	background-color: white;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

	@media (min-width: 1280px) {
		margin-top: 30em;
	}

	.match-card {
		min-width: 350px;
		position: absolute;
		top: 4.5em;
		left: 0;
	}
}

.character-select {
	padding: 1em 0;
	max-height: 355px;
	overflow-y: auto;

	md-radio-button {
		.md-container {
			visibility: hidden;
		}

		.md-label {
			margin-left: 0;
			border-radius: 0.5em;
			padding: 1em;
			box-shadow: none;
			transition: box-shadow 0.6s;

			span {
				img {
					border-radius: 0.5em;
				}

				div {
					text-align: center;
					font-weight: bold;
				}
			}
		}

		&.md-checked .md-label {
			box-shadow: 0 0 1em rgba(0,0,0,0.5);
		}
	}
}