{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-button iconButton=true onClick=(action 'openSideNav')}}
      {{paper-icon 'menu'}}
    {{/paper-button}}

    <h2>Project M v0.1 Beta</h2>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}