{{#paper-button raised=true onClick=(route-action 'transition' 'index')}}
	View all matches
{{/paper-button}}

<img src="{{model.stageImage}}" alt="Match stage image" class="match-cover-image" />

<div class="match-details">
	{{#match-card match=model details=false playerList=false image=false}}
		<p>Created: {{output-date model.created}}</p>
	{{/match-card}}

	{{player-listing match=model}}
</div>