{{#paper-button raised=true onClick=(route-action 'transition' 'index')}}
	View all matches
{{/paper-button}}

<div class="match-details" style="background-image: url({{model.stageImage}})">
	{{#match-card match=model details=false playerList=false image=false}}
		<p>Created: {{output-date model.created}}</p>
	{{/match-card}}

	{{player-listing match=model}}
</div>